<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Welcome to Atlas Game</h1>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.rezervyazilim.atlasgame">
            <p class="home-download">Download</p>
            <p class="home-play">on Google Play</p>
        </a>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <p>Step into a world where exploration meets mind-bending puzzles. Atlas Game offers an immersive adventure that challenges
            your wit and rewards your curiosity. Navigate through mysterious landscapes, unlock hidden secrets, and experience
            gameplay crafted to keep you engaged for hours. </p>
        </div>
    </div>
</section>