.header {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
border-radius: 200px;
  width: 343px;
  height: 96px;
  background: #fff;
}

.header-container {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: inherit;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  background: #fff;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 165px 16px;
  width: 341px;
  height: auto;
  z-index: 998;
  position: fixed;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

}


.menu-item {
font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #663090;
  transition: color 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
color: #1d94af;
}


@media screen and (min-width: 1440px) {
  .header {
width: 1296px;
  height: 96px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 8px 48px;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in-out;
font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #663090;
  }

  .navigation-item:hover {
color: #1d94af;
  }

  .navigation-item:focus,
  .navigation-item.active {
color: #1d94af;
  }

}