@import url('./styles.css');

.background {
    text-align: left;

}
.policy-title-container{
    background: #663090;
    height: 420px;
    padding-top: 212px;

}
.privacy-title {
font-family: "Sour Gummy", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;

}
.policy-container{
    padding-top: 64px;
    padding-bottom: 64px;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Sour Gummy", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    color: #663090;
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: left;
}

.policy-number{
    padding-left: 20px;
    margin-top: 16px;
}
.policy-link {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;

}

.break {
    word-break: break-all;
}

.policy-list {
    list-style-type: disc;
    padding-left: 20px;
    font-weight: 700;
}

.underline {
text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 16px;
}


.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1440px) {
    .policy-container {
        padding-left: 292px;
        padding-right: 292px;
    }
.privacy-title{
font-size: 64px;
}
.policy-subtitle{
    font-size: 48px;
}
}